/*Global*/
* {
  font-size: 24px;
}

body {
  background-image: url("../images/sayagata.png");
  background-repeat: repeat;
}

/*Header and Navigation*/

#top {
  max-width: 960px;
  height: 100px;
  background: white;
  margin: 10px auto;
}

#name {
  float: left;
  width: 250px;
  height: 90px;
  background-color: #4AAAA5;

}

h1 {

}

nav {
  float: right;
  margin: 20px 30px;
}
li {
  float: left;
}


/*Footer*/

footer {
    float: left;
    clear: both;
    width: 100%;
    text-align: center; 
}

/* Main */
main {
  max-width: 960px;
  padding: 20px;
  margin: 20px auto;

}

#bio {
  max-width: 650px;
  float: left;
  clear: none;
  background: white;
  padding: 20px;
}

/* Side Bar */

aside {
  /*max-width: 270px;*/
  height: 175px;  
  background: white;
  float: left;
  clear: right;  
  margin: 0 0 0 10px;
}

.cm_logo {
  width: 50px;
  height: 50px;
  float:left;
  margin: 5px;
}





/* Portfolio */


/* Contact */


